<div class="gf-form-inline">
    <div class="gf-form">
        <div class="btn-group">
            <button id="showTreee" class="dropdown-toggle btn btn-secondary gf-form-btn" data-toggle="dropdown">Choose line
                <span class="caret"></span>
            </button>
            <div id="jsTree" class="container dropdown-menu" role="menu"></div>
        </div>
    </div>
</div>

<!-- <div class="gf-form-inline">
    <div class="gf-form">
        <div class="btn-group">
            <button class="dropdown-toggle btn btn-secondary gf-form-btn" data-toggle="dropdown">Choose line
                <span class="caret"></span>
            </button>
            <div id="mytreee" class="container dropdown-menu" role="menu">
                <ul>
                    <li ng-repeat="city in ctrl.someProperty.treeData">{{city.name}}
                        <ul>
                            <li ng-repeat="line in city.children">{{line.name}}
                                <ul>
                                    <li ng-repeat="counter in line.children" 
                                    data-jstree='{ "selected" : false, "opened" : false, "icon" : "fa fa-tachometer"}'>
                                    {{counter.name}}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->


<!-- <i ng-click="ctrl.log();">My first directive {{ctrl.textSize}}</i>
<input type="number" ng-model="ctrl.someProperty.panel.textSize"> -->


<!-- <div id="mytreee" ng-click="ctrl.someProperty.tree_toggle()" class="btn-group">
    <button class="dropdown-toggle btn btn-secondary gf-form-btn" data-toggle="dropdown">Choose line
        <span class="caret"></span>
    </button>
    <ul class="container dropdown-menu" role="menu">
        <li class="node isRoot isLast expandOpen" ng-repeat="city in ctrl.someProperty.dataTree">
            <div class="expand"></div>
            <input type="checkbox" />
            <div class="content">{{city.name}}</div>
            <ul class="container">
                <li class="node expandOpen" ng-repeat="line in city.children">
                    <div class="expand"></div>
                    <input type="checkbox" />
                    <div class="content">{{line.name}}</div>
                    <ul class="container">
                        <li class="node expandLeaf" ng-repeat="counter in line.children">
                            <div class="expand"></div>
                            <input type="checkbox" />
                            <div class="content">{{counter.name}}</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div> -->

<!-- <i ng-click="ctrl.log();">My first directive {{ctrl.textSize}}</i>
        <input type="number" ng-model="ctrl.someProperty.panel.textSize"> -->
<!--     </div>
</div> -->