$tooltip-background: #000000;
$jstree-background: rgba(41, 41, 41, 0.9);
$wrapVis-background: rgba(49, 49, 49, 0.5);
$wrapVis-border: rgba(65, 65, 65, 0.5);

// svg
$axisLineColor: #ffffff;        // цвет лини осей и тиков
$axisFontColor: #ffffff;        // цвет текста и цифр на осях
$tooltipFontColor: #ffffff;     // цвет текста в всплывающих подсказках
$tooltipLineColor: #b40000;       // цвет линии при ведении мыши над графиком

.grafana-tooltip {
    background-color: $tooltip-background;
}

// для всплывающего окна ввода комментрия
/* .modal {
    position: fixed;
} */

// PANEL HEADER
div.content-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // для корректой работы выпадающего дерева на мобильных устройствах
    div.btn-group.open .dropdown-backdrop {
        display:none;
    } 
    div.tree-container.jstree {
        background: $jstree-background;
        overflow-x: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}


// PANEL CONTENT
div.content-wrap {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%; 
    position: relative;
    

    div.wrap-vis {
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        border: 2px solid $wrapVis-border;
        background: $wrapVis-background;
        /* text-align: center; */
        
        canvas {
            position: absolute;
        }

        div.wrap-vis-title {
            margin-left: 15px;
            margin-right: 20px;
            // margin-top: 0px;
            // margin-bottom: 0px;
            padding-top: 7px;
            text-align: right;

            span.city {color: #A7D999;}
            span.line {color: #F6AE66;}
            span.counter {color: #a3cae2}
            span.title-separator {margin: 0 8px 0 8px;}
            i.loaded {display: none;}
        }

        div.wrap-vis-svg {
            position: relative;

            svg {
                /* background-color: #383838;
                box-sizing: inherit;
                display: inline-block;
                /* position: abslute; */
                // vertical-align: baseline;
    
                .axis {
                    stroke-width: 1;
                }
                
                .axis .tick line {
                    stroke: $axisLineColor;
                }
                
                .axis .tick text {
                    fill: $axisFontColor;
                    font-size: 10px;
                }
                
                .axis .domain {
                    fill: none;
                    stroke: $axisLineColor;
                }
                
                .tooltip-point circle {
                    fill: none;
                    stroke: $tooltipLineColor;
                    stroke-opacity: 0.5;
                    stroke-width: 3px;
                }
                
                .tooltip-point text {
                    fill: $axisFontColor;
                }
                    
                .tooltip-line {
                    stroke: $tooltipLineColor;
                    stroke-width: 1px;
                    shape-rendering: crispEdges;
                    /* stroke-dasharray: 3,3; */
                }
            }
        }
    }

    div.wrap-vis:hover {
        background-color: rgba(180, 180, 180, 0.1);
    }
}


