.grafana-tooltip {
    background-color: #e1e1e1;
}

// для всплывающего окна ввода комментрия
/* .modal {
    position: fixed;
} */

/* для корректой работы выпадающего дерева на мобильных устройствах */
.btn-group.open .dropdown-backdrop {
    display:none;
}

div.container.jstree {
    background: rgba(255, 255, 255, 0.9);
}



div.wrap-all{
    /* overflow: inherit !important; */
    width: 100%; 
    position: relative;
}

svg {
    /* background-color: #383838;
    box-sizing: inherit;
    display: inline-block;
    /* position: abslute; */
    vertical-align: baseline;
}

div.wrap-vis {
    width: 100%;
    margin-bottom: 5px;
    background: #f8f8f8;
    /* text-align: center; */
}

h3.title-wrap-vis {
    margin-left: 15px;
    margin-right: 20px;
    padding-top: 7px;
    text-align: right;
}

div.wrap-vis i{
    width: 100%;
    text-align: center;
}

.axis {
    stroke-width: 1;
}

.axis .tick line {
    stroke: #272727;
}

.axis .tick text {
    fill: #272727;
    font-size: 10px;
}

.axis .domain {
    fill: none;
    stroke: #272727;
}

.focus-point circle {
    fill: none;
    stroke: #990000;
    stroke-opacity: 0.5;
    stroke-width: 3px;
}

.focus-point text {
    fill: #ff0000;
}
    
.hover-line {
    stroke: #990000;
    stroke-width: 2px;
    /* stroke-dasharray: 3,3; */
}