.grafana-tooltip {
    background-color: rgba(225,225,225, 1);
}

.modal {
    position: fixed;
}

.panel-scroll {
    overflow: inherit;
}

/* .jstree-default .jstree-clicked {
    background: none;
} */

/* для корректой работы выпадающего дерева на мобильных устройствах */
.btn-group.open .dropdown-backdrop {
    display:none;
}

.charts-spot{
    overflow: inherit !important;
    width: 100%; 
    position: relative;
}

svg {
    /* background-color: #5e5e5e; */
    box-sizing: inherit;
    display: inline-block;
    /* position: abslute; */
    vertical-align: baseline;
}

div.chartSpot {
    width: 100%;
    margin-bottom: 5px;
    /* text-align: center; */
}

div.chartSpot i{
    width: 100%;
    text-align: center;
}