.grafana-tooltip {
    background-color: rgba(0, 0, 0, 1);
}

.modal {
    position: fixed;
}

.panel-scroll {
    overflow: inherit !important;
}

/* .jstree-default-dark .jstree-clicked {
    background: none;
} */

.btn-group.open .dropdown-backdrop {
    display:none;
}

/* .svg-spot svg{
    background-color: #5e5e5e;
    box-sizing: inherit;
    display: inline-block;
    position: abslute;
    vertical-align: baseline;
} */

