.grafana-tooltip {
    background-color: #000000;
}

.modal {
    position: fixed;
}

.panel-scroll {
    overflow: inherit !important;
}

/* .jstree-default-dark .jstree-clicked {
    background: none;
} */

/* для корректой работы выпадающего дерева на мобильных устройствах */
.btn-group.open .dropdown-backdrop {
    display:none;
}

div.wrap-all-vis{
    /* overflow: inherit !important; */
    width: 100%; 
    position: relative;
}

svg {
    /* background-color: #383838;
    box-sizing: inherit;
    display: inline-block;
    /* position: abslute; */
    vertical-align: baseline;
}

div.wrap-vis {
    width: 100%;
    margin-bottom: 5px;
    background: #292929;
    /* text-align: center; */
}

h3.title-wrap-vis {
    margin-left: 15px;
    padding-top: 7px;
}

div.wrap-vis i {
    width: 100%;
    text-align: center;
}

.axis {
    stroke-width: 1;
}

.axis .tick line {
    stroke: #ffffff;
}

.axis .tick text {
    fill: #ffffff;
    font-size: 10px;
}

.axis .domain {
    fill: none;
    stroke: #ffffff;
}

.focus-point circle {
    fill: none;
    stroke: #990000;
    stroke-opacity: 0.5;
    stroke-width: 3px;
}

.focus-point text {
    fill: #ffffff;
}
    
.hover-line {
    stroke: #990000;
    stroke-width: 2px;
    /* stroke-dasharray: 3,3; */
}
