.grafana-tooltip {
    background-color: rgba(225,225,225, 1);
}

.modal {
    position: fixed;
}

.panel-scroll {
    overflow: inherit;
}

/* .jstree-default .jstree-clicked {
    background: none;
} */

/* для корректой работы выпадающего дерева на мобильных устройствах */
.btn-group.open .dropdown-backdrop {
    display:none;
}

div.wrap-all-vis{
    overflow: inherit !important;
    width: 100%; 
    position: relative;
}

svg {
    /* background-color: #383838;
    box-sizing: inherit;
    display: inline-block;
    /* position: abslute; */
    vertical-align: baseline;
}

div.wrap-vis {
    width: 100%;
    margin-bottom: 5px;
    background: #f8f8f8;
    /* text-align: center; */
}

div.wrap-vis i{
    width: 100%;
    text-align: center;
}

.axis {
    stroke-width: 1;
}

.axis .tick line {
    stroke: #272727;
}

.axis .tick text {
    fill: #272727;
    font-size: 0.7rem;
}

.axis .domain {
    fill: none;
    stroke: #272727;
}